<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>TP4 PVISUAL</title>
	<link rel="stylesheet" data-th-href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<link href="https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap" rel="stylesheet">
	<link rel="stylesheet" data-th-href="@{/css/style.css}" >
</head>
<body style="background-color: #8A98DF;">
	<script type="text/javascript" data-th-src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<header th:replace="~{layouts/header :: header}">
	</header>
	<nav th:replace="~{layouts/header :: navbar}"></nav>
    <div class="container divPrincipal mt-3 p-3" style="background-color:  #e3f2fd;">
        <div class="row">
            <main class="col-9">
                <h1>Un poco de historia de nuestra Universidad</h1>
                <p>
                    La Universidad nace el 25 de mayo de 1972 como universidad provincial y al año siguiente se transforma en Universidad Nacional. Comienza a funcionar sobre la base de cuatro carreras: Ingeniería Agronómica, Ingeniería de Minas, Ingeniería Metalúrgica e Ingeniería Química. 
                    Su propósito fue apuntalar las actividades de explotación e industrialización de los recursos naturales de Jujuy. Las tres últimas carreras mencionadas pasan a constituir la actual Facultad de Ingeniería que, con el transcurso de los años, sumó a ellas un número importante de otras carreras.
                    Las políticas de la Universidad Nacional de Jujuy, y especialmente de la Facultad de Ingeniería, tienden a ampliar el área de influencia y a fortalecer su acción institucional, en respuesta a la demanda social creciente de formación de recursos humanos que contribuyan al desarrollo científico, tecnológico y cultural.
                    De esta forma, la Facultad se constituyó en vector de desarrollo de la provincia, por cuanto:
                </p>
                    <ul>
                        <li>Posibilita la prosecución de estudios superiores a los jóvenes egresados del nivel medio, facilitando a un número creciente de ellos la obtención de un título universitario, sin los inconvenientes del desarraigo que tradicionalmente debían afrontar al trasladarse a centros universitarios radicados en otras provincias.</li>
                        <li>Por ende, aporta a la economía provincial al evitar la salida de recursos económicos asociados con la radicación de estudiantes en otras provincias.</li>
                        <li>Posibilita acceder a títulos universitarios a jóvenes cuya situación económica les impide estudiar fuera de la provincia.</li>
                        <li>Provee de profesionales de la Ingeniería a las industrias radicadas en la provincia y de profesionales competentes a las diversas reparticiones del estado provincial.</li>
                        <li>Incorpora a la sociedad profesionales aptos para generar emprendimientos de distinta índole.</li>
                        <li>Mantiene fluidas relaciones institucionales con el sector productivo, las ONG, el ámbito educativo y la administración pública provincial mediante prestaciones de servicios, el desarrollo de actividades de investigación científica y tecnológica, y la formación y capacitación de recursos humanos. A la vez, dentro de este marco, promueve sistemas de pasantías para sus docentes y alumnos.</li>
                    </ul>
                  <p>  
                    En la actualidad, las particularidades geopolíticas del área de influencia de la Facultad le otorgan una importante proyección internacional; 
                    proyección nacida tanto por el impacto regional producido por la globalización y en particular por los acuerdos suscriptos por nuestro país en el marco del Mercosur, como por la habilitación de nuevos pasos fronterizos en la provincia los cuales la integran regionalmente mediante el corredor bioceánico. 
                    Esta realidad permite que Jujuy pase de ser una provincia muy alejada de los puertos argentinos a otra que está sobre la línea de unión entre los puertos comerciales del norte de Chile con los de Brasil. Por ende, de disponer como única salida comercial el puerto de Buenos Aires a 1700 km, 
                    ahora está a tan sólo 700 km del de Antofagasta (Chile). Todo ello constituye a la vez una oportunidad y un desafío para la economía regional, y en consecuencia para la Facultad.
                  </p>
            </main>
            <aside class="col-3 container-fluid">   
                <h1>Enlaces a tp4 parte 2</h1>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a data-th-href="@{/carrera/listado}" class="text-decoration-none">Listado de carreras</a></li>
                    <li class="list-group-item"><a data-th-href="@{/materia/listado}" class="text-decoration-none">Listado de materias</a></li>
                    <li class="list-group-item"><a data-th-href="@{/docente/listado}" class="text-decoration-none">Listado de docentes</a></li>
                    <li class="list-group-item"><a data-th-href="@{/alumno/listado}" class="text-decoration-none">Listado de alumnos</a></li>
                    <li class="list-group-item"><a href="#" class="text-decoration-none">Mapa del edificio</a></li>
                  </ul>
            </aside>
        </div>
        <h2>Noticias Recientes</h2>
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="images/52-aniversario-fiunju.jpeg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">52 aniversario de la Facultad</h5>
                      <p class="card-text">Se celebro otro año mas de existencia de nuestra Facultad
                        con un almuerzo compartido
                      </p> 
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="images/750x330-vacunacion-unju-2024.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Campaña de vacunacion 2024</h5>
                      <p class="card-text">
                        Destinada a Estudiantes,Personal Docentes y No Docente de la Universidad Nacional de Jujuy
                      </p> 
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="images/750x330-Curso-posgrado-Derecho-inteligencia-artificial.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Curso de posgrado</h5>
                      <p class="card-text">
                        Derecho e IA presencial, para inscripciones acercarse a la Facultad
                      </p> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="~{layouts/footer :: footer}">
    </footer>
</body>
</html>