<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="~{layouts/header :: head}">
</head>
<body style="background-color: #8A98DF;">
	<header th:replace="~{layouts/header :: header}">
	</header>
	<nav th:replace="~{layouts/header :: navbar}"></nav>
	<div class="container mt-5 py-5" style="background-color:  #e3f2fd;">
		<!-- <div th:if="${exito}"class="alert alert-success alert-dismissible fade show" role="alert">
		  <strong data-th-text="${mensaje}"></strong>
		  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
		<div th:if="${!exito && mensaje!=''}"class="alert alert-warning alert-dismissible fade show" role="alert">
		  <strong data-th-text="${mensaje}"></strong>
		  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div> -->
		<div>
			<h3>Inscribir alumno en una materia</h3>
	        <form th:action="@{/alumno/inscripcion}" method="post">
	                <div class="form-group">
	                    <label for="alumno">Alumno</label>
	                    <select class="form-control" id="alumno" name="lu">
	                    	<option value=0 disabled selected data-th-text="${hayAlumnos}==0?'No hay alumnos registrados':'Seleccione un alumno'"></option>
	                        <option th:each="alumno : ${alumnos}" th:value="${alumno.lu}" th:text="${alumno.nombre + ' ' + alumno.apellido}"></option>
	                    </select>
	                </div>
	                <div class="form-group mt-3">
	                    <label for="materia">Materia</label>
	                    <select class="form-control" id="materia" name="codigo">
	                    	<option value=0 disabled selected data-th-text="${hayMaterias}==0?'No hay materias registradas':'Seleccione una materia'"></option>
	                        <option th:each="materia : ${materias}" th:value="${materia.codigo}" th:text="${materia.nombre}"></option>
	                    </select>
	                </div>
	                <button type="submit" class="btn btn-primary mt-3">Inscribir</button>
	          </form>
		  </div>
	</div>
	<footer th:replace="~{/layouts/footer :: footer}">
    </footer>
    <script type="text/javascript" data-th-src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>