<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="~{layouts/header :: head}">
</head>
<body style="background-color: #8A98DF;">
	
	<header th:replace="~{layouts/header :: header}">
	</header>
	<nav th:replace="~{layouts/header :: navbar}"></nav>
	<div class="container mt-5 py-5" style="background-color:  #e3f2fd;">
		<div class="mb-3 d-flex justify-content-center">
			<h2 data-th-text="${edicion}?'Modificar materia':'Nueva materia'"></h2>
		</div>
		<div class="row">
			<form data-th-action="${edicion}?@{/materia/modificar}:@{/materia/guardar}" th:object="${materia}" method="post">
				<div class="d-flex justify-content-center mb-3">
					<!-- <label for="codigoMateria" class="me-2">Codigo</label>
					<input id="codigoMateria" type="number" name="codigoMateria" th:field="*{codigo}" th:disabled="${edicion}?true:false" required>
					<input id="codigoMateria" type="hidden" name="codigoMateria" th:field="*{codigo}" th:if="${edicion}"> -->	
					<input type="hidden" name="codigoMateria" th:field="*{codigo}">	
				</div>
				<div class="d-flex justify-content-center mb-3">
					<label for="nombreMateria" class="me-2">Nombre</label>
					<input id="nombreMateria" type="text" name="nombreMateria" th:field="*{nombre}" required>		
				</div>
				<div class="d-flex justify-content-center mb-3">
					<label for="curso" class="me-2">Curso</label>
					<input id="curso" type="text" name="curso" th:field="*{curso}" required>		
				</div>
				<div class="d-flex justify-content-center mb-3">
					<label for="cantHoras" class="me-2">Horas catedra</label>
					<input id="cantHoras" type="text" name="cantHoras" th:field="*{cantHoras}" required>		
				</div>
				<div class="d-flex justify-content-center mb-3">
					<label for="modalidad" class="me-2">Modalidad:</label>
					<div>
						<label for="modalidad">Presencial</label>
						<input id="modalidad" type="radio" name="modalidad" value="Presencial" th:field="*{modalidad}">
						<label for="modalidad">Virtual</label>
						<input id="modalidad" type="radio" name="modalidad" value="Virtual" th:field="*{modalidad}">
					</div>
				</div>
				<div class="d-flex justify-content-center mb-3">
					<label for="docente" class="me-2">Docente</label>
					<!-- <input id="docente" type="text" name="docente" th:field="*{docente}">	 -->
					<select th:field="*{docente.legajo}" id="docente" name="docente" required>
						<option value=0 disabled selected data-th-text="${hayDocentes}==0?'No hay docentes registrados':'Seleccione un Docente'"></option>
						<option th:each="docente : ${docentes}" th:value="${docente.legajo}" th:text="${docente.nombre}+' '+${docente.apellido}"></option>
					</select>
						
				</div>
				<div class="d-flex justify-content-center mb-3">
					<label for="carrera" class="me-2">Carrera</label>
					<!-- <input id="carrera" type="text" name="carrera" th:field="*{carrera}"> -->	
						
					<select th:field="*{carrera.codigo}" id="carrera" name="carrera" required>
						<option value=0 disabled selected data-th-text="${hayCarreras}==0?'No hay carreras registradas':'Seleccione una carrera'"></option>
						<option th:each="carrera : ${carreras}" th:value="${carrera.codigo}" th:text="${carrera.nombre}"></option>
					</select>
				</div>
				<div class="d-flex justify-content-center mb-3"> 
					<p><input type="submit" class="btn btn-primary" th:value="${edicion}?'Modificar':'Guardar'"> </p>
				</div>
			</form>
		</div>
	</div>
	<footer th:replace="~{/layouts/footer :: footer}">
    </footer>
    <script type="text/javascript" data-th-src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>